%html
  %head
    %title The Thinkery Style Guide!
  %body
    #content
      %h1.pagetitle THE THINKERY STYLE GUIDE!

      #button
        %h2.title BUTTON STYLE
        %button
          ADD IDEA &nbsp; &nbsp; &nbsp; &nbsp;+
        %button{:class => "submit"}
          SUBMIT

      #menu
        %h2.title MENU STYLE
        %ul
          %li
            %a{:href => "#"}
              Machiensim
          %li
            %a{:href => "#"}
              Perpetual Motion
          %li
            %a{:href => "#"}
              Cats
          %li
            %a{:href => "#"}
              Tacos


      #forms
        %h2.title FORM STYLE
        %form
          %legend TITLE OF IDEA:
          %input.title{:type => "text",
                 :name => "Title",
                 :placeholder => "Title"}
          %legend DESCRIPTION OF IDEA:
          %textarea.description{:type => "text",
                 :name => "Description",
                 :placeholder => "Put your ideas in this box!"}

      #fonts
        %h2.title FONTS AND PARAGRAPH STYLE
        %hgroup
          %h1 h1: THE THINKERY
          %h2 h2: THE THINKERY
          %h3 h3: THE THINKERY
          &nbsp;
          %h4 h4: THE THINKERY
          %h5 h5: THE THINKERY
          %h6 h6: THE THINKERY
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et
          tincidunt elit. Quisque nunc lectus, ullamcorper posuere adipiscing
          vitae, commodo quis ante. Nam blandit dignissim mattis. Nulla a
          enim nisl, eget egestas sem. Nullam sed metus ut lorem dapibus
          seollicitudin.

      #links
        %h2.title LINK STYLE
        %a{:href =>"#"}
          click here
