%html
  %head
    %title The Thinkery Style Guide!
  %body
    #content
      %h1 THE THINKERY STYLE GUIDE!

      #button
        %h2.title BUTTON STYLE
        %button
          ADD IDEA &nbsp; &nbsp; &nbsp; &nbsp;+
        %button{:class => "submit"}
          SUBMIT

      #menu
        %h2.title MENU STYLE
        %ul
          %li
            %a{:href => "#"}
              Machiensim
          %li
            %a{:href => "#"}
              Perpetual Motion
          %li
            %a{:href => "#"}
              Cats
          %li
            %a{:href => "#"}
              Tacos


      #forms
        %h2.title FORM STYLE
        %form
          %input.title{:type => "text",
                 :name => "Title",
                 :placeholder => "Title"}
          %textarea.description{:type => "text",
                 :name => "Description",
                 :placeholder => "Put your ideas in this box!"}

      #fonts
        %h2.title FONTS AND PARAGRAPH STYLE
        %h1 The Thinkery
        %h2 The Thinkery
        %h3 The Thinkery
        %h4 The Thinkery
        %h5 The Thinkery
        %h6 The Thinkery
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et
          tincidunt elit. Quisque nunc lectus, ullamcorper posuere adipiscing
          vitae, commodo quis ante. Nam blandit dignissim mattis. Nulla a
          enim nisl, eget egestas sem. Nullam sed metus ut lorem dapibus
          seollicitudin.

      #links
        %h2.title LINK STYLE
        %a{:href =>"#"}
          click here
