@font-face {
    font-family: 'HammersmithOneRegular';
    src: url('HammersmithOne-webfont.eot');
    src: url('HammersmithOne-webfont.eot?#iefix') format('embedded-opentype'),
         url('HammersmithOne-webfont.woff') format('woff'),
         url('HammersmithOne-webfont.ttf') format('truetype'),
         url('HammersmithOne-webfont.svg#HammersmithOneRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
  margin: 0px;
  padding: 0px;
}

#content {
  background: rgb(0, 133, 188);
  font-family: 'HammersmithOneRegular', Helvetic, Ariel, sans-serif;
  h1.pagetitle {
    margin: 0 auto;
    display: block;
    height: 100px;
    width: 700px;
    line-height: 100px;
    color: white;
    text-align: center;
    font-size: 50px;
  }
}

#button, #forms, #menu, #fonts, #links {
  background: white;
  border: thick solid black;
  width: 700px;
  margin: 20px auto;
  border-radius: 15px;
  padding: 15px 0;
  color: rgb(46, 49, 146);
  h2.title{
    border-bottom: 2px solid #ccc;
    padding: 0 20px;
  }
}

////////////////////////////// BUTTON STYLE //////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////

#button {
  height: 200px;
  button {
    color: black;
    width: 180px;
    height: 40px;
    border: 3px solid #333;
    border-radius: 15px;
    background-color: green;
    margin: 40px auto;
    display: block;
    font-family: 'HammersmithOneRegular', Helvetic, Ariel, sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 1px 1px #ffffff;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #d9e021 40%, #d9e021 59%, #9fe092 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(40%,#d9e021), color-stop(59%,#d9e021), color-stop(100%,#9fe092)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#d9e021 40%,#d9e021 59%,#9fe092 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#d9e021 40%,#d9e021 59%,#9fe092 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#d9e021 40%,#d9e021 59%,#9fe092 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#d9e021 40%,#d9e021 59%,#9fe092 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#9fe092',GradientType=0 ); /* IE6-9 */
    &:hover {
      background: #ffffff; /* Old browsers */
      background: -moz-linear-gradient(top,  #ffffff 0%, #d9ef97 50%, #afedb5 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#d9ef97), color-stop(100%,#afedb5)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #ffffff 0%,#d9ef97 50%,#afedb5 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #ffffff 0%,#d9ef97 50%,#afedb5 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #ffffff 0%,#d9ef97 50%,#afedb5 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #ffffff 0%,#d9ef97 50%,#afedb5 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#afedb5',GradientType=0 ); /* IE6-9 */
    }
  }
  .submit {
    font-size: 17px;
  }
}

///////////////////////////////// MENU STYLE ///////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////

#menu {
   height: 250px;
   ul {
    list-style-type: none;
    display: block;
    background-color: rgb(0, 133, 188);
    width: 300px;
    margin: 50px auto;
    display: block;
    li {
      height: 30px;
      line-height: 33px;
      margin: 0;
      text-align: center;
      border-bottom: 3px solid #54D1FC;
      &:first-child {
        border-top: 3px solid #54D1FC;
      }
       a {
        text-decoration: none;
        color: #cccccc;
        text-transform: uppercase;
        display: block;
        &:hover {
          color: rgb(217, 224, 33);
          background-color: rgb(41, 171, 226);
        }
      }
    }
  }
}

/////////////////////////// FORMS STYLE ////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////


#forms {
  height: 400px;
  legend {
    margin: 0 10px;
  }
  form {
    margin: 10px 80px;
    color: rgb(127, 127, 127);
    .title {
      width: 150px;
      height: 40px;
      background-color: rgb(242, 242, 242);
      border-radius: 5px;
      border: 2px solid #ccc;
      box-shadow: inset 0px 0px 7px 1px rgba(0, 0 ,0, 0.6);
      padding: 0 10px;
      margin: 0 0 15px 10px;
    }
    .description {
      width: 500px;
      height: 200px;
      background-color: rgb(242, 242, 242);
      border-radius: 5px;
      border: 2px solid #ccc;
      box-shadow: inset 0px 0px 7px 1px rgba(0, 0 ,0, 0.6);
      margin: 0 0 15px 10px;
      padding: 10px;
    }
  }
}

/////////////////////////////// FONT & PARAGRAPH STYLE ///////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////

#fonts {
  hgroup {
    color: black;
    margin: 25px;
    text-align: center;
    h1, h2, h3 {
     letter-spacing: 2px;
    }
  }
  p {
    margin: 10px;
    font-size: 14px;
    color: black;
  }
}

///////////////////////////// EDIT LINKS STYLE //////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////

#links {
  height: 100px;
  #controls {
    text-align: center;
    width: 100px;
    display: block;
    margin: 20px auto;
    a {
      color: rgb(0, 169, 157);
      text-decoration: none;
      &:hover {
        color: black;
      }
    }
  }
}
