body {
  background-color: rgb(0, 133, 188);
  font-family: HammersmithOneRegular, Helvetica, Arial, sans-serif;
}

h1 {
}

nav {
  position: fixed;
  top: 240px;
  left: 0px;
  width: 200px;
}

nav button {
  margin: 20px auto;
}

#thinkery_logo, #thinkery_logo_glow {
  position: fixed;
  top: 0;
  left: 0;
  height: 250px;
  width: 250px;
}

#thinkery_logo {
  z-index: 50;
}

#thinkery_logo_glow {
  z-index: -100;
}

#slogan {
  position: absolute;
  right: 50px;
  top: 50px;

  font-size: 20px;
  text-transform: uppercase;
  color: white;
}

.flash {
  /* relative position to activate z-index */
  position: relative;
  z-index: 100;
  margin-top: 170px;
  margin-left: 30%;
  margin-right: 30%;
  border: thin solid black;
  background-color: rgb(200, 240, 255);
  font-size: 20px;
  padding: .8em 2em;
}


h1#main_title {
  border-style: none;
  background-color: white;
  color: rgb(47, 53, 144);
  font-family: HammersmithOneRegular, sans-serif;
  font-size: 42px;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  padding: 10px 40px;

  position: fixed;
  top: 100px;
  left: 210px;
  right: 90px;
  z-index: 20;
  border-radius: 6px;
}

#decorative_bar {
  background-color: black;
  height: 80px;
  position: fixed;
  top: 160px;
  width: 100%;
  z-index: 30;
}

#main_content {
  border-width: 10px;
  position: absolute;
  top: 90px;
  left: 200px;
  right: 80px;
  height: 100%;
  z-index: 0;
  padding-top:200px;
}
