body {
  background-color: rgb(0, 133, 188);
}

h1 {
  float: right;
  color: white;
  font-family: sans-serif;
}

nav {
  position: fixed;
  top: 300px;
  left: 0px;
  width: 200px;
}

#thinkery_logo {
  float: left;
}

#decorative_bar {
  background-color: black;
  height: 74px;
  position: absolute;
  top: 150px;
  width: 100%;
  z-index: -20;
}

#main_content {
  position: absolute;
  top: 200px;
  left: 200px;
  right: 80px;
  height: 100%;

  background-color: white;
  border-style: solid;
  border-thickness: 6px;
}
