body {
  background-color: rgb(0, 133, 188);
}

h1 {
  float: left;
}

#thinkery_logo {
  float: left;
}

#main_content {
  position: absolute;
  top: 200px;
  left: 200px;
  right: 80px;
  height: 100%;

  background-color: white;
  border-style: solid;
  border-thickness: 6px;
}
